# Android/IntelliJ
*.iml
.gradle/
local.properties
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.DS_Store

# Build artifacts
**/build/
/captures
.externalNativeBuild
.cxx

# Temporary dynamic projects for vendor AARs
.vendor-projects/

# Stray build artifacts
classes.jar